table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th,td{
    padding: 5px;
    align-items: center;
}
button{
    cursor: pointer;
    padding: 0 5px;
    margin: 2px;
}
input{
    padding-left: 2px;
}
