table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th,td{
    padding: 5px;
    align-items: center;
    width: 200px;
    text-align: center;
}
button{
    cursor: pointer;
    padding: 0 5px;
    margin: 2px;
}
.actions-btn button{
    width: 45%;
   
}
input{
    padding: 2px;
    width: 180px;
}
